.title-text {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    font-weight: 550;
    opacity: 0.9;
    font-size: 70px;
    text-align: center;
    margin-top: -5px;
    margin-bottom: -5px;
    color:rgb(0, 0, 0) ;
    text-shadow: 1px 3px 5px rgba(170, 170, 170, 0.9);
}
.white-banner {
    background-color: rgba(255, 255, 255);
    top: 0;
    left: 0;
    padding: 30px;
    color: black;
    position: fixed;
    text-align: center;
    z-index: 10;
    width: 100%;
    opacity: 0.9;
    box-sizing: border-box;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}
.container1 {
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.form-login h1 {
    font-size: 2.5rem;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
    font-weight: 700;
    letter-spacing: 1px;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}
.form-login {
    width: 600px;
    background: rgba(181, 181, 181, 0.7);
    backdrop-filter: blur(5px);
    border-radius: 25px;
    padding: 60px;
    box-shadow: 0 0px 20px rgba(104, 104, 104, 0.8); /* horizontal vertical blur */
    color: black;
    border: 1px solid rgba(255, 255, 255, 190%);
}
.form-login-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-login-inner p {
    width: 75%;
    margin-bottom: 5px;
    text-align: left ;
}



.train-book-bg {
    display:flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100vh;
    gap: 25px;
}
.train-book-bg::before {
    content: "";
    position: absolute;
    top: -20px;
    left: -20px;
    width: calc(100% + 40px);
    height: calc(100% + 40px);
    background-image: url("/images/book_train.jpg");
    filter: grayscale(10%) blur(4px) brightness(95%);
    background-size: cover;
    background-position: center;
    z-index: -1;
}
.class-box {
    background-color: #ffffff;
    padding: 10px 10px;
    border-radius: 15px;
    text-align: center;
    border: 2px solid #009503;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    width: 200px;
    transition: transform 0.3s, box-shadow 0.3s;
}
.class-box button {
    padding: 10px 15px;
    background-color: #30c800;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.2s;
}
.class-box button:hover {
    background-color: #009c03;
}
.class-box-text {
    font-family: 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    font-weight:bolder ;
    font-size: 22px;
}




.form-box2 {
    width: 600px;
    background: rgba(181, 181, 181, 0.7);
    backdrop-filter: blur(5px);
    border-radius: 25px;
    padding: 60px;
    box-shadow: 0 0px 20px rgba(104, 104, 104, 0.8); /* horizontal vertical blur */
    color: black;
    border: 1px solid rgba(255, 255, 255, 190%);
}
.form-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-inner p {
    width: 75%;
    margin-bottom: 5px;
    text-align: left ;
}
.form-text {
    font-family: 'Poppins', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: normal ;
    font-size: 22px;
    text-align: center;
    color: rgb(30, 30, 30);
    text-shadow: 1px 2px 4px rgba(150, 150, 150, 0.6);
    opacity: 0.95;
}
.form-input {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    border: 1px solid #ccc;
    border-radius: 18px;
    background-color: rgba(255, 255, 255, 0.8);
    box-sizing: border-box;
}
.register-button {
    border: 2px solid #7a7a7a;
    font-size: large;
    margin-top: 12px;
    padding: 9px 20px ;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    text-decoration: none;
    display: inline-block;
    border-radius: 18px;
    cursor:pointer;
    box-shadow: 0 3px 6px rgba(128, 128, 128, 0.73);
}
.register-button:hover {
    background-color: #7a7a7a;
}
.submit-button {
    border: 2px solid #7a7a7a;
    font-size: large;
    margin-top: 20px;
    padding: 9px 20px ;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border-radius: 18px;
    cursor:pointer;
    box-shadow: 0 3px 6px rgba(128, 128, 128, 0.73);
}
.submit-button:hover {
    background-color: #7a7a7a;
}



.home-bg {
    margin: 0;
    padding: 20px 0;
    position: relative;
    height: 100vh;
    overflow: auto;
    box-sizing: border-box;
}
.home-bg::before {
    content: "";
    position: fixed;
    top: -10px;
    left: -10px;
    width: calc(100% + 20px);
    height: calc(100% + 20px);
    background-size: cover;
    background-position: center;
    background-image: url("/images/home_train.jpg");
    filter: blur(7px) brightness(105%);
    z-index: -1;
    pointer-events: none;
}
.book-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100vh;
    overflow: hidden;
    background-size: cover;
    background-position: center;
}
.book-bg::before {
    content: "";
    position: absolute;
    top: -20px;
    left: -20px;
    width: calc(100% + 40px);
    height: calc(100% + 40px);
    background-image: url("/images/book_train.jpg");
    filter: grayscale(10%) blur(4px) brightness(95%);
    background-size: cover;
    background-position: center;
    z-index: -1;
}
.ticket-text {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    font-weight: 600 ;
    font-size: 30px;
    text-align: center;
    margin-bottom: 50px;
}
.ticket-container {
    background-color: #dfdfdf;
    text-align:left ;
    padding: 35px;
    border-radius: 18px;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.5);
    width: 380px;
    overflow-y: auto;
    font-family: Arial, sans-serif;
    z-index: 1;
    position: fixed;
    border: 4px solid #e3d100;
    max-height: 80vh;
}
.ticket-container p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;  /* Change the font type here */
    font-weight: 500;
    font-size: 18px;
}

.ticket-show-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    min-height: 100vh;
    z-index: 1;
}
.ticket-show-bg::before {
    content: "";
    position: fixed;
    top: -20px;
    left: -20px;
    width: calc(100% + 40px);
    height: calc(100% + 40px);
    background-image: url("/images/show_train.jpg");
    filter: grayscale(10%) blur(4px) brightness(95%);
    background-size: cover;
    background-position: center;
    z-index: -1;
}
.show-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100vh;
    overflow: hidden;
    background-size: cover;
    background-position: center;
}
.show-bg::before {
    content: "";
    position: absolute;
    top: -20px;
    left: -20px;
    width: calc(100% + 40px);
    height: calc(100% + 40px);
    background-image: url("/images/show_train.jpg");
    filter: grayscale(10%) blur(4px) brightness(95%);
    background-size: cover;
    background-position: center;
    z-index: -1;
}
.cancel-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100vh;
    overflow: hidden;
    background-size: cover;
    background-position: center;
}
.cancel-bg::before {
    content: "";
    position: absolute;
    top: -20px;
    left: -20px;
    width: calc(100% + 40px);
    height: calc(100% + 40px);
    background-image: url("/images/cancel_train.jpg");
    filter: grayscale(10%) blur(4px) brightness(95%);
    background-size: cover;
    background-position: center;
    z-index: -1;
}
.upg-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100vh;
    overflow: hidden;
    background-size: cover;
    background-position: center;
}
.upg-bg::before {
    content: "";
    position: absolute;
    top: -20px;
    left: -20px;
    width: calc(100% + 40px);
    height: calc(100% + 40px);
    background-image: url("/images/upgrade_train.jpg");
    filter: grayscale(10%) blur(4px) brightness(95%);
    background-size: cover;
    background-position: center;
    z-index: -1;
}
.res-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100vh;
    overflow: hidden;
    background-size: cover;
    background-position: center;
}
.res-bg::before {
    content: "";
    position: absolute;
    top: -20px;
    left: -20px;
    width: calc(100% + 40px);
    height: calc(100% + 40px);
    background-image: url("/images/res_train.jpg");
    filter: grayscale(10%) blur(4px) brightness(95%);
    background-size: cover;
    background-position: center;
    z-index: -1;
}



.text-2 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    font-weight:600 ;
    font-size: 32px;
    text-align: center;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.888);
}
.button1 {
    opacity: 0.94;
    color: white;
    border: 2px solid #00905b;
    margin-top: 100px;
    padding: 20px 20px;
    background-color: #61cf65;
    border-radius: 10px;
    cursor:pointer ;
    box-shadow: 0 1px 10px rgb(23, 23, 23);
}
.button2 {
    opacity: 0.94;
    color: white;
    border: 2px solid #ff1a1a;
    padding: 20px 20px;
    background-color: #f57460;
    border-radius: 10px;
    cursor:pointer ;
    box-shadow: 0 1px 10px rgb(23, 23, 23);
}
.button3 {
    opacity: 0.94;
    color: white;
    border: 2px solid #00509b;
    padding: 20px 20px;
    background-color: #4d99fc;
    border-radius: 10px;
    cursor:pointer ;
    box-shadow: 0 1px 10px rgb(23, 23, 23);
}
.button4 {
    opacity: 0.94;
    color: white;
    border: 2px solid #c4c800;
    padding: 20px 20px;
    background-color: #d9e360;
    border-radius: 10px;
    cursor:pointer ;
    box-shadow: 0 1px 10px rgb(23, 23, 23);
}
.button5 {
    opacity: 0.94;
    color: white;
    border: 2px solid #6b0077;
    padding: 20px 20px;
    background-color: #f56fff;
    border-radius: 10px;
    cursor:pointer ;
    box-shadow: 0 1px 10px rgb(23, 23, 23);
}