<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="stylesheet" th:href="@{/css/style.css}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Railway Booking System! </title>
</head>
<body class="booking">
    <div class="form-box2">
        <form action="/book" method="POST" class="form-inner">
            <p>
              <label for="source" >Source</label><br>
              <input type="text" id="source" name="user_source" class="form-input">
            </p>
            <p>
              <label for="source" >Destination</label><br>
              <input type="text" id="destination" name="user_destination" class="form-input">
            </p>
            <p>
              <label for="dot" >Date Of Travel</label><br>
              <input type="date" id="dot" name="user_dot" class="form-input">
            </p>
            <button class="submit-button" type="submit">Submit</button>
        </form>  
    </div>
</body>
</html>