<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Railway Booking System! </title>
</head>
<body class="home-bg">
<div class="white-banner">
    <h1 class="title-text"> Priority-Based Railway Booking System </h1>
</div>
<div class="container1">
    <a th:href="@{/book}">
        <button class="button1 text-2">BOOK TICKET</button>
    </a>
</div>
<div class="container1">
    <a th:href="@{/show}">
        <button class="button4 text-2">SHOW TICKET</button>
    </a>
</div>
<div class="container1">
    <a th:href="@{/cancel}">
        <button class="button2 text-2">CANCEL TICKET</button>
    </a>
</div>
<div class="container1">
    <a th:href="@{/upgrade}">
        <button class="button5 text-2">UPGRADE TICKET</button>
    </a>
</div>
<div class="container1">
    <a th:href="@{/reschedule}">
        <button class="button3 text-2">RESCHEDULE TICKET</button>
    </a>
</div>
</body>
</html>