<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Railway Booking System</title>
</head>
<body class="book-bg">
<div class="form-box2">
    <form action="/book-final" method="POST" class="form-inner" autocomplete="off">
        <p>
            <label for="name" class="form-text">Name</label><br>
            <input type="text" id="name" name="user_name" class="form-input" required>
        </p>
        <p>
            <label for="age" class="form-text">Age</label><br>
            <input type="number" id="age" name="user_age" class="form-input" required min="1" max="100">
        </p>
        <p>
            <label for="gender" class="form-text">Gender</label><br>
            <select id="gender" name="user_gender" class="form-input" required>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
            </select>
        </p>
        <p>
            <label for="coach_type" class="form-text">Coach-Type</label><br>
            <select id="coach_type" name="coach_type" class="form-input" required>
                <option th:if="${seatClass == '1AC'}" value="HA1">HA1</option>
                <option th:if="${seatClass == '1AC'}" value="null">NONE</option>

                <option th:if="${seatClass == '2AC'}" value="A1">A1</option>
                <option th:if="${seatClass == '2AC'}" value="A2">A2</option>
                <option th:if="${seatClass == '2AC'}" value="null">NONE</option>

                <option th:if="${seatClass == '3AC'}" value="B1">B1</option>
                <option th:if="${seatClass == '3AC'}" value="B2">B2</option>
                <option th:if="${seatClass == '3AC'}" value="B3">B3</option>
                <option th:if="${seatClass == '3AC'}" value="null">NONE</option>

                <option th:if="${seatClass == 'Sleeper'}" value="D1">D1</option>
                <option th:if="${seatClass == 'Sleeper'}" value="D2">D2</option>
                <option th:if="${seatClass == 'Sleeper'}" value="D3">D3</option>
                <option th:if="${seatClass == 'Sleeper'}" value="D4">D4</option>
                <option th:if="${seatClass == 'Sleeper'}" value="null">NONE</option>
            </select>
        </p>
        <p>
            <label for="berth_type" class="form-text">Berth-Type</label><br>
            <select id="berth_type" name="berth_type" class="form-input" required>
                <option th:if="${seatClass == '1AC'}" value="Lower">Lower Berth</option>
                <option th:if="${seatClass == '1AC'}" value="Upper">Upper Berth</option>
                <option th:if="${seatClass == '1AC'}" value="null">NONE</option>

                <option th:if="${seatClass == '2AC'}" value="Lower">Lower Berth</option>
                <option th:if="${seatClass == '2AC'}" value="Upper">Upper Berth</option>
                <option th:if="${seatClass == '2AC'}" value="Side Lower">Side Lower</option>
                <option th:if="${seatClass == '2AC'}" value="Side Upper">Side Upper</option>
                <option th:if="${seatClass == '2AC'}" value= "null">NONE</option>

                <option th:if="${seatClass == '3AC' or seatClass == 'Sleeper'}" value="Lower">Lower Berth</option>
                <option th:if="${seatClass == '3AC' or seatClass == 'Sleeper'}" value="Middle">Middle Berth</option>
                <option th:if="${seatClass == '3AC' or seatClass == 'Sleeper'}" value="Upper">Upper Berth</option>
                <option th:if="${seatClass == '3AC' or seatClass == 'Sleeper'}" value="Side Lower">Side Lower</option>
                <option th:if="${seatClass == '3AC' or seatClass == 'Sleeper'}" value="Side Upper">Side Upper</option>
                <option th:if="${seatClass == '3AC' or seatClass == 'Sleeper'}" value="null">NONE</option>
            </select>
        </p>
        <button class="submit-button form-text" type="submit">SUBMIT</button>

        <input type="hidden" name="source" th:value="${source}">
        <input type="hidden" name="destination" th:value="${destination}">
        <input type="hidden" name="dot" th:value="${dot}">
        <input type="hidden" name="seat_class" th:value="${seatClass}">

        <input type="hidden" name="trainNumber" th:value="${trainNumber}">
        <input type="hidden" name="trainName" th:value="${trainName}">
        <input type="hidden" name="departure" th:value="${departure}">
        <input type="hidden" name="arrival" th:value="${arrival}">
    </form>
</div>
</body>
</html>