<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Railway Booking System! </title>
</head>
<body class="res-bg">
<div class="form-box2">
    <form action="/reschedule" method="POST" class="form-inner" autocomplete="off">
        <p>
            <label for="pnr" class="form-text">Enter PNR Number</label><br>
            <input type="text" id="pnr" name="user_pnr" class="form-input" required>
        </p>
        <button class="submit-button form-text" type="submit">SUBMIT</button>
    </form>
</div>
</body>
</html>