<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <meta charset="UTF-8">
    <title>Train Details</title>
</head>
<body>
<div class="upg-ticket-bg">
    <div class="class-select-container">
        <h1 style="text-align: center; margin-bottom: 10px; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif" >
            Train Name: <span th:text="${trainName}"></span>
        </h1>
        <h2 style="text-align: center; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif" >
            Train No: <span th:text="${trainNumber}"></span>
        </h2>
        <div class="train-details">
            <div class="left-side">
                <div style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">
                    Source: <span th:text="${source}"></span>
                </div>
                <div style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">
                    Departure Time: <span th:text="${departure}"></span>
                </div>
            </div>
            <div class="right-side">
                <div style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">
                    Destination: <span th:text="${destination}"></span>
                </div>
                <div style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">
                    Arrival Time: <span th:text="${arrival}"></span>
                </div>
            </div>
        </div>
        <div class="booking-options">
            <div class="class-box-upgrade">
                <form action="/upgrade-input-details" method="POST">
                    <h3 class="class-box-upgrade-text">SL (Sleeper)</h3>
                    <input type="hidden" name="pnr" th:value="${pnr}">
                    <input type="hidden" name="seat_class" value="Sleeper">
                    <input type="hidden" name="source" th:value="${source}">
                    <input type="hidden" name="destination" th:value="${destination}">

                    <input type="hidden" name="trainNumber" th:value="${trainNumber}">
                    <input type="hidden" name="trainName" th:value="${trainName}">
                    <input type="hidden" name="departure" th:value="${departure}">
                    <input type="hidden" name="arrival" th:value="${arrival}">

                    <button type="submit">BOOK</button>
                </form>
            </div>
            <div class="class-box-upgrade">
                <form action="/upgrade-input-details" method="POST">
                    <h3 class="class-box-upgrade-text">3A (AC 3 Tier)</h3>
                    <input type="hidden" name="pnr" th:value="${pnr}">
                    <input type="hidden" name="seat_class" value="3AC">
                    <input type="hidden" name="source" th:value="${source}">
                    <input type="hidden" name="destination" th:value="${destination}">

                    <input type="hidden" name="trainNumber" th:value="${trainNumber}">
                    <input type="hidden" name="trainName" th:value="${trainName}">
                    <input type="hidden" name="departure" th:value="${departure}">
                    <input type="hidden" name="arrival" th:value="${arrival}">

                    <button type="submit">BOOK</button>
                </form>
            </div>
            <div class="class-box-upgrade">
                <form action="/upgrade-input-details" method="POST">
                    <h3 class="class-box-upgrade-text">2A (AC 2 Tier)</h3>
                    <input type="hidden" name="pnr" th:value="${pnr}">
                    <input type="hidden" name="seat_class" value="2AC">
                    <input type="hidden" name="source" th:value="${source}">
                    <input type="hidden" name="destination" th:value="${destination}">

                    <input type="hidden" name="trainNumber" th:value="${trainNumber}">
                    <input type="hidden" name="trainName" th:value="${trainName}">
                    <input type="hidden" name="departure" th:value="${departure}">
                    <input type="hidden" name="arrival" th:value="${arrival}">

                    <button type="submit">BOOK</button>
                </form>
            </div>
            <div class="class-box-upgrade">
                <form action="/upgrade-input-details" method="POST">
                    <h3 class="class-box-upgrade-text">1A (AC 1 Tier)</h3>
                    <input type="hidden" name="pnr" th:value="${pnr}">
                    <input type="hidden" name="seat_class" value="1AC">
                    <input type="hidden" name="source" th:value="${source}">
                    <input type="hidden" name="destination" th:value="${destination}">

                    <input type="hidden" name="trainNumber" th:value="${trainNumber}">
                    <input type="hidden" name="trainName" th:value="${trainName}">
                    <input type="hidden" name="departure" th:value="${departure}">
                    <input type="hidden" name="arrival" th:value="${arrival}">

                    <button type="submit">BOOK</button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>