<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Railway Booking System</title>
</head>
<body>
<div class="reschedule-ticket-bg">
  <div class="form-box2">
    <form action="/ticket-reschedule-berth" method="POST" class="form-inner" autocomplete="off">
      <p>
        <label for="dot" class="form-text">Date Of Travel</label><br>
        <input type="date" id="dot" name="dot" class="form-input" th:min="${today}" required>
      </p>
      <p>
        <label for="trainClass" class="form-text">Select Train Class</label><br>
        <select id="trainClass" name="seatClass" class="form-input" required>
          <option value="" disabled selected>Select Class</option>
          <option value="Sleeper">Sleeper</option>
          <option value="3AC">AC 3 Tier</option>
          <option value="2AC">AC 2 Tier</option>
          <option value="1AC">AC First Class</option>
          <option value="null">NONE</option>
        </select>
      </p>
      <button type="submit" class="submit-button form-text">SUBMIT</button>
      <input type="hidden" name="pnr" th:value="${pnr}" />
    </form>
  </div>
</div>
</body>
</html>