<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ticket Details</title>
</head>
<body>
    <h1> Ticket Details!</h1>
    <div>
      <p>Ticket ID: <span th:text="${ticket.getObjectId('_id')}"></span></p>
      <p>Name: <span th:text="${ticket.getString('name')}"></span></p>
      <p>PNR: <span th:text="${ticket.getInteger('pnr')}"></span></p>
      <p>Train Number: <span th:text="${ticket.getInteger('train_number')}"></span></p>
      <p>Seat Class: <span th:text="${ticket.getString('seat class')}"></span></p>
      <p>Coach Number: <span th:text="${ticket.getString('coach number')}"></span></p>
      <p>Seat Number: <span th:text="${ticket.getInteger('seat number')}"></span></p>
      <p>Berth Type: <span th:text="${ticket.getString('berth type')}"></span></p>
      <p>Source: <span th:text="${ticket.getString('start')}"></span></p>
      <p>Destination: <span th:text="${ticket.getString('end')}"></span></p>
    </div>
</body>
</html>