<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ticket Details</title>
</head>
<body>
<div class="ticket-show-bg">
  <div class="ticket-container">
    <p>PNR: <span th:text="${ticket['pnr']}"></span></p>
    <p>Name: <span th:text="${ticket['name']}"></span></p>
    <p>Age: <span th:text="${ticket['age']}"></span></p>
    <p>Gender: <span th:text="${ticket['gender']}"></span></p>
    <p>Booking Time: <span th:text="${ticket['bookTime']}"></span></p>
    <p>Train Number: <span th:text="${ticket['trainNumber']}"></span></p>
    <p>Train Name: <span th:text="${ticket['trainName']}"></span></p>
    <p>Start Station: <span th:text="${ticket['startStation']}"></span></p>
    <p>End Station: <span th:text="${ticket['endStation']}"></span></p>
    <p>Departure Time: <span th:text="${ticket['departureTime']}"></span></p>
    <p>Arrival Time: <span th:text="${ticket['arrivalTime']}"></span></p>
    <p>Seat Class: <span th:text="${ticket['seatClass']}"></span></p>
    <p>Coach: <span th:text="${ticket['coach']}"></span></p>
    <p>Berth: <span th:text="${ticket['berth']}"></span></p>
    <p>Seat Number: <span th:text="${ticket['seatNumber']}"></span></p>
    <p>Status:
      <span th:if="${ticket['status'] == 1}" th:text="'Booked'"></span>
      <span th:if="${ticket['status'] == 0}" th:text="'Not Booked'"></span>
      <span th:if="${ticket['status'] == -1}" th:text="'Waiting List'"></span>
    </p>
  </div>
</div>
</body>
</html>