<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ticket Details</title>
</head>
<body>
    <h1> Ticket Details!</h1>
    <div th:if="${ticket != null}">
      <p><strong>PNR:</strong> <span th:text="${ticket.pnr}"></span></p>
      <p><strong>Name:</strong> <span th:text="${ticket.name}"></span></p>
      <p><strong>Age:</strong> <span th:text="${ticket.age}"></span></p>
      <p><strong>Gender:</strong> <span th:text="${ticket.gender}"></span></p>
      <p><strong>Train Number:</strong> <span th:text="${ticket.trainNumber}"></span></p>
      <p><strong>Train Name:</strong> <span th:text="${ticket.trainName}"></span></p>
      <p><strong>From:</strong> <span th:text="${ticket.startStation}"></span></p>
      <p><strong>To:</strong> <span th:text="${ticket.endStation}"></span></p>
      <p><strong>Departure:</strong> <span th:text="${ticket.departureTime}"></span></p>
      <p><strong>Arrival:</strong> <span th:text="${ticket.arrivalTime}"></span></p>
      <p><strong>Seat Class:</strong> <span th:text="${ticket.seatClass}"></span></p>
      <p><strong>Coach Number:</strong> <span th:text="${ticket.coach}"></span></p>
      <p><strong>Seat Number:</strong> <span th:text="${ticket.seatNumber}"></span></p>
      <p><strong>Seat Berth:</strong> <span th:text="${ticket.berth}"></span></p>
      <p><strong>Booking Status:</strong>
        <span th:if="${ticket.status == 1}" th:text="'Booked'"></span>
        <span th:if="${ticket.status == 0}" th:text="'Waitlisted'"></span>
        <span th:if="${ticket.status == -1}" th:text="'Cancelled'"></span>
      </p>

    </div>
    <div th:if="${ticket == null}">
      <p>No ticket found for this PNR.</p>
    </div>
</body>
</html>