<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <meta charset="UTF-8">
    <title>Train Details</title>
</head>
<body>
<div class="train-book-bg">
    <div class="class-box">
        <form action="/user-details" method="POST">
            <h3 class="class-box-text">SL (Sleeper)</h3>
            <input type="hidden" name="class" value="SL">
            <button type="submit">BOOK</button>
        </form>
    </div>
    <div class="class-box">
        <form action="/user-details" method="POST">
            <h3 class="class-box-text">3A (AC 3 Tier)</h3>
            <input type="hidden" name="class" value="3A">
            <button type="submit">BOOK</button>
        </form>
    </div>
    <div class="class-box">
        <form action="/user-details" method="POST">
            <h3 class="class-box-text">2A (AC 2 Tier)</h3>
            <input type="hidden" name="class" value="2A">
            <button type="submit">BOOK</button>
        </form>
    </div>
    <div class="class-box">
        <form action="/user-details" method="POST">
            <h3 class="class-box-text">1A (AC 1 Tier)</h3>
            <input type="hidden" name="class" value="1A">
            <button type="submit">BOOK</button>
        </form>
    </div>
</div>
</body>
</html>